{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        thheller/shadow-cljs {:mvn/version "2.19.9"}
        binaryage/devtools {:mvn/version "1.0.6"}
        reagent/reagent {:mvn/version "1.1.1"}
        metasoarous/oz {:mvn/version "1.6.0-alpha36"}
        kixi/stats {:mvn/version "0.5.5"}
        aerial.hanami/aerial.hanami {:mvn/version "0.15.1"}}
 :paths
 ["src/dev"
  "src/main"
  "src/test"]}